{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h1>{{ product.name }}</h1>
        <p>{{ product.description }}</p>
        <span>{{ product.price }}</span>
    </div>
{% endblock %}