{% extends "base.html.twig" %}


{% block body %}
    <div>
        {% for product in products %}
            <div>
                <h3>{{ product.name }}</h3>
                <p>{{ product.text }}</p>
                <span>{{ product.price }}</span>
            </div>
        {% endfor %}
    </div>
{% endblock %}